
/* 1-section */
.business-agreement-container {
    max-width: 100%;
  }
  
  .image-section {
    width: 100%;
    overflow: hidden;
  }
  
  .image-section img {
    width: 100%;
    height: auto;
  }
  
  .content-section {
    background-color: #f8f9fa;
  }
  .experts {
    text-align: left;
   font-size: 34px;
   font-weight: 700 !important;
    
    
  }
  p {
    text-align: left;
    font-size: 22px;
   
  }

  /* 2-section */
  .service-card {
    /* border: 1px solid #ddd; */
    padding: 20px;
    /* margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-card img {
    width: 20em;
    /* height: 150px; */
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .service-card h5 {
    font-size: 1.3rem;
    color: #333;
  }
  


/* 3-section */
  .btn-dark {
    background-color: #001f5b;
    color: white;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #001f5b;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-light {
    background-color: white;
    color: black;
    border: 2px solid #001f5b;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  .specialization{
    height: 4em;
    font-size: large;
  }


  .special_ad{
    padding: 20px;

  }

/* 5-section */
h3 {
    padding: 1em;
}

  .faq-item {
    padding: 58px;
    border-bottom: 1px solid #ddd;
  }

  .faq-question {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .faq-toggle-btn {
    font-size: 1.5rem;
    color: #007bff;
    cursor: pointer;
  }

  .faq-answer {
    font-size: 1rem;
    color: #333;
  }









  



 
  /* 4-section */
  /* Container */
  .why-choose-us {
    background-color: #f0f4ff; /* Light blue background */
    padding: 50px;
    border-radius: 10px;
   
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Title */
  .why-choose-us {
    padding: 1em 6em;
  }
  
  .heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .heading-container h2 {
    margin: 0;
  }
  
  .heading-line {
    border: none;
    height: 2px;
    background-color: #000; /* Adjust the color as needed */
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .feature .icon {
    margin-right: 15px;
  }
  
  .feature .text {
    flex-grow: 1;
  }
  strong{
    font-weight: 500;
    font-size: 1em;
  }
   .text{
    font-size: 1.5em;
   }
  

   @media screen and (max-width: 486px) {

    .special_ad{
      padding: 0px;

    }


   }
